<!DOCTYPE html>

<html>

    <head>

        <title>404</title>

        <link rel="stylesheet" href="/css/styles.css">

    </head>

    <body>

        <div class="main-content">

        {{>header}}

        <p>{{message}}</p>
        <p><a class="link" href="/">Go back to Weather</a></p>

        </div>
        {{>footer}}

    </body>

</html>